.bundle
tmp/
coverage/
omniauth.rb
db/*.sqlite3
log/*.log
log/*.log*
tmp/**/*
.sass-cache/
public/assets/
config/database.yml
config/mongoid.yml
config/config.yml
config/redis.yml
config/weibo.yml
config/mailer_daemon.yml
public/uploads/**/*
public/topics
public/topics/**/*
.redcar
.DS_Store
*.swp
*.swo
.rvmrc
vendor/cache
doc/
solr/data/
solr/pids/
bin/
tag
package/
*.vim
*.jas
*.bak
